.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-bar {
  width: 50%;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  margin-left: 1%;
  border-radius: 20px;
  color: white;
}


.teams {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.logo {
  height: 100px;
  padding-right: 2%;
}

