input[type="number"] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .switch-search {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 125%;
    /* border: 3px solid green;   */
}


 

.switch-search span a {
  color: gray;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  transition-duration: 0.5s;
  opacity: 80%;
  z-index: 10; 
}

.switch-search span a:hover{
  color: black;
  opacity: 100%;
  font-size: 105%;
  

}
  .input-fields {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -80%);
      /* border: 3px solid green;   */
  }

  .dynamic-list {
    
    border-radius: 10px;
    height:200px; 
    width:94%;
    overflow: visible; 
    overflow-y:auto;
    /* border: 3px solid red;   */

  }

.faculties {
    height:32px;
    width:250px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    
}

.course-number {
    height:25px;
    width:250px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    
}

.search-course:hover {


    background-color: #e31836; 
    color: white;
    transition-duration: 0.6s;
   
    
}

.search-course {
    
    border-radius: 10px;
    border: 2px solid black;
    height:32px;
    width:150px;

    font-weight: bold;

    outline: none;
}

.found-prerequisites {
  position: absolute;
  width: 100%;
  top : 250%;
  
  /* border: 3px solid blue;  */
}



.found-prerequisites li {
font-family: 'Cairo', sans-serif;
font-weight: bold;
}


.your-courses-header {
  font-family: 'Cairo', sans-serif;
  text-align: center;
}




.header h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .01em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(25, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }