.header {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -80%);
    border: 3px solid orange;  
}



.topnav {
    border: 3px solid black;
    width: fit-content;
    position: relative;
    left: 90%;
}